﻿@model ContactUsModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.ContactUs")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="ContactUs" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="row form-group inputs">
                            <div class="col-md-2">
                                <label asp-for="FullName" asp-postfix=":"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                <nop-required />
                            </div>
                            <div class="col-md-4">
                                <span asp-validation-for="FullName"></span>
                            </div>
                            </div>
                            <div class="row form-group inputs">
                                <div class="col-md-2">
                                    <label asp-for="Email" asp-postfix=":"></label>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                                    <nop-required />
                                </div>
                                <div class="col-md-4">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                            @if (Model.SubjectEnabled)
                            {
                                <div class="row form-group inputs">
                                    <div class="col-md-2">
                                        <label asp-for="Subject" asp-postfix=":"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                        <nop-required />
                                    </div>
                                    <div class="col-md-4">
                                        <span asp-validation-for="Subject"></span>
                                    </div>
                                </div>
                            }
                            <div class="row form-group inputs">
                                <div class="col-md-2">
                                    <label asp-for="Enquiry" asp-postfix=":"></label>
                                </div>
                                <div class="col-md-6">
                                    <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                    <nop-required />
                                </div>
                                <div class="col-md-4">
                                    <span asp-validation-for="Enquiry"></span>
                                </div>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <nop-captcha />
                            }
                        </div>
                </div>
                <div class="buttons">
                    <button type="submit" name="send-email" class="button-1 contact-us-button">@T("ContactUs.Button")</button>
                </div>
            </form>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
    </div>
</div>
