﻿@model Nop.Web.Models.Catalog.SearchModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Search").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-search-page");
}
<script asp-location="Footer">
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.advs)").on('click', toggleAdvancedSearch);
        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {
        if ($('#@Html.IdFor(model => model.advs)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>

@section CatalogFilters {
    @await Html.PartialAsync("_CatalogFilters", Model.CatalogProductsModel)
}

<div class="page search-page">
    <div class="page-title">
        <h1>@T("Search")</h1>
    </div>
    <div class="page-body">
        <div class="search-input">
            <form asp-route="ProductSearch" method="get">
                <fieldset class="fieldset">
                    <div class="form-fields">
                        <div class="basic-search">
                            <div class="row form-group inputs">
                                <div class="col-md-3">
                                    <label asp-for="q">@T("Search.SearchTerm"):</label>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="q" class="search-text" />
                                </div>
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductSearchPageBasic })
                            <div class="row form-group inputs">
                                <div class="col-md-6">
                                    <label asp-for="advs">@T("Search.AdvancedSearch")</label>
                                    <input asp-for="advs" />  
                                </div>                         
                            </div>
                        </div>
                        <div class="advanced-search" id="advanced-search-block">
                            @if (Model.AvailableCategories.Count > 0)
                            {
                                <div class="row form-group inputs">
                                    <div class="col-md-2">
                                        <label asp-for="cid">@T("Search.Category"):</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select asp-for="cid" asp-items="Model.AvailableCategories"></select>
                                    </div>
                                </div>
                                <div class="row form-group inputs reversed">
                                    <div class="col-md-8">
                                        <label asp-for="isc">@T("Search.IncludeSubCategories")</label>
                                        <input asp-for="isc" />
                                    </div>
                                </div>
                            }
                            @if (Model.AvailableManufacturers.Count > 0)
                            {
                                <div class="row form-group inputs">
                                    <div class="col-md-2">
                                        <label asp-for="mid">@T("Search.Manufacturer"):</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select asp-for="mid" asp-items="Model.AvailableManufacturers"></select>
                                    </div>
                                </div>
                            }
                            @if (Model.asv && Model.AvailableVendors.Count > 0)
                            {
                                <div class="row form-group inputs">
                                    <div class="col-md-2">
                                        <label asp-for="vid">@T("Search.Vendor"):</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select asp-for="vid" asp-items="Model.AvailableVendors"></select>
                                    </div>
                                </div>
                            }
                            <div class="row form-group inputs reversed">
                                <div class="col-md-8">
                                    <label asp-for="sid">@T("Search.SearchInDescriptions")</label>
                                    <input asp-for="sid" />
                                </div>
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductSearchPageAdvanced })
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="button-1 search-button">@T("Search.Button")</button>
                    </div>
                </fieldset>
            </form>
        </div>
        @await Html.PartialAsync("_CatalogSelectors", Model.CatalogProductsModel)
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductSearchPageBeforeResults })
        <div class="search-results">
            @{
                var catalogProductsViewData = new ViewDataDictionary(ViewData);
                catalogProductsViewData["fetchUrl"] = Html.Raw(Url.Action("SearchProducts", "Catalog"));
            }
            @await Html.PartialAsync("_CatalogProducts", Model.CatalogProductsModel, catalogProductsViewData)
            <script asp-location="Footer">
                $(document).ready(function () {
                    $(CatalogProducts).on('before', function (e) {
                        var isAdvanced = $('#@Html.IdFor(model => model.advs)').is(':checked');

                        e.payload.urlBuilder
                            .addParameter('q', $('#@Html.IdFor(model => model.q)').val())
                            .addParameter('advs', isAdvanced);

                        if (isAdvanced) {
                            e.payload.urlBuilder
                                .addParameter('cid', $('#@Html.IdFor(model => model.cid)').val())
                                .addParameter('isc', $('#@Html.IdFor(model => model.isc)').is(':checked'))
                                .addParameter('mid', $('#@Html.IdFor(model => model.mid)').val())
                                .addParameter('vid', $('#@Html.IdFor(model => model.vid)').val())
                                .addParameter('sid', $('#@Html.IdFor(model => model.sid)').is(':checked'));
                        }
                    });
                });
            </script>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductSearchPageAfterResults })
    </div>
</div>
