﻿@model EditForumTopicModel
@using Nop.Core.Domain.Forums;
@{
    //page class
    NopHtml.AppendPageCssClassParts("html-forum-edit-page");
}

@await Component.InvokeAsync("ForumBreadcrumb", new { forumId = Model.ForumId, forumTopicId = Model.Id })
<div class="page forum-edit-page">
    <div class="page-title">
        @if (Model.IsEdit)
        {
            <h1>@T("Forum.EditTopic")</h1>
        }
        else
        {
            <h1>@T("Forum.NewTopic")</h1>
        }
    </div>
    <div class="page-body">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ForumId" />
        <div class="fieldset">
            <div class="form-fields">
                <div class="row form-group inputs">
                    <div class="col-md-2">
                        <label>@T("Forum.ForumName"):</label>
                    </div>
                    <div class="col-md-9">
                        <strong>@Model.ForumName</strong>
                    </div>
                </div>
                <div class="row form-group inputs">
                    <div class="col-md-2">
                        <label>@T("Forum.TopicTitle"):</label>
                    </div>
                    <div class="col-md-9">
                        <input asp-for="Subject" class="forum-topic-title-text"/>
                    </div>
                    <span asp-validation-for="Subject"></span>
                </div>
                <div class="row form-group inputs">
                    @if (Model.ForumEditor == EditorType.BBCodeEditor)
                    {
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <nop-bb-code-editor asp-for="Text" />
                        </div>
                    }
                    
                    <div class="col-md-9">
                        <textarea asp-for="Text" class="forum-post-text"></textarea>
                    </div>
                    <span asp-validation-for="Text"></span>
                </div>
                @if (Model.IsCustomerAllowedToSetTopicPriority)
                {
                    <div class="row form-group inputs">
                        <div class="col-md-1">
                            <label>@T("Forum.Priority"):</label>
                        </div>
                        <div class="col-md-9">
                            <select asp-for="TopicTypeId" asp-items="@(new SelectList(Model.TopicPriorities, "Value", "Text", Model.TopicTypeId))"></select>
                        </div>
                    </div>
                }
                @if (Model.IsCustomerAllowedToSubscribe)
                {
                    <div class="inputs reversed">
                        <input asp-for="Subscribed" />
                        <label asp-for="Subscribed">@T("Forum.NotifyWhenSomeonePostsInThisTopic")</label>
                    </div>
                }
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="button-1 submit-topic-button">@T("Forum.Submit")</button>
            <button type="button" class="button-2 cancel-topic-button" onclick="setLocation('@Url.RouteUrl("ForumSlug", new { id = Model.ForumId, slug = Model.ForumSeName })')">@T("Forum.Cancel")</button>
        </div>
    </div>
</div>