﻿@model EditForumPostModel
@using Nop.Core.Domain.Forums;
@{
    //page class
    NopHtml.AppendPageCssClassParts("html-forum-edit-page");
}

@await Component.InvokeAsync("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId })
<div class="page forum-edit-page">
    <div class="page-title">
        @if (Model.IsEdit)
        {
            <h1>@T("Forum.EditPost")</h1>
        }
        else
        {
            <h1>@T("Forum.NewPost")</h1>
        }
    </div>
    <div class="page-body">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ForumTopicId" />
        <div class="fieldset">
            <div class="form-fields">
                <div class="row form-group inputs">
                    <div class="col-md-2">
                        <label>@T("Forum.ForumName"):</label>
                    </div>
                    <div class="col-md-9">
                        <strong class="forum-subject">@Model.ForumName</strong>
                    </div>
                </div>
                <div class="row form-group inputs">
                    <div class="col-md-2">
                        <label>@T("Forum.TopicTitle"):</label>
                    </div>
                    <div class="col-md-9">
                        <strong class="topic-subject">@Model.ForumTopicSubject</strong>
                    </div>
                </div>
                <div class="row form-group inputs">
                    @if (Model.ForumEditor == EditorType.BBCodeEditor)
                    {
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <nop-bb-code-editor asp-for="Text" />
                        </div>
                    }
                    
                    <div class="col-md-9">
                        <textarea asp-for="Text" class="forum-post-text"></textarea>
                    </div>
                    <span asp-validation-for="Text"></span>
                </div>
                @if (Model.IsCustomerAllowedToSubscribe)
                {
                    <div class="inputs reversed">
                        <input asp-for="Subscribed" />
                        <label asp-for="Subscribed">@T("Forum.NotifyWhenSomeonePostsInThisTopic")</label>
                    </div>
                }
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="button-1 submit-post-button">@T("Forum.Submit")</button>
            <button type="button" class="button-2 cancel-post-button" onclick="setLocation('@Url.RouteUrl("TopicSlug", new {id = Model.ForumTopicId, slug = Model.ForumTopicSeName})')">@T("Forum.Cancel")</button>
        </div>
    </div>
</div>