﻿@model TopicMoveModel
@{    
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-move-topic-page");
}
@await Component.InvokeAsync("ForumBreadcrumb", new { forumTopicId = Model.Id })
<div class="page move-topic-page">
    <div class="page-title">
        <h1>@T("Forum.MoveTopic")</h1>
    </div>
    <div class="page-body">
        <form asp-route="TopicMove" method="post">
            <input type="hidden" asp-for="Id"/>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="row form-group inputs">
                        <div class="col-md-4">
                            <label>@T("Forum.SelectTheForumToMoveTopic"):</label>
                        </div>
                        <div class="col-md-6">
                            <select asp-for="ForumSelected" asp-items="@(new SelectList(Model.ForumList, "Value", "Text"))"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button-1 submit-forum-topic-button">@T("Forum.Submit")</button>
                <button type="button" class="button-2 cancel-forum-topic-button" onclick="setLocation('@Url.RouteUrl("TopicSlug", new {id = Model.Id, slug = Model.TopicSeName})')">@T("Forum.Cancel")</button>
            </div>
        </form>
    </div>
</div>