﻿@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="row form-group inputs">
                        <div class="col-md-2">
                            <label asp-for="OldPassword" asp-postfix=":"></label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="OldPassword" />
                        </div>
                        <div class="col-md-4">
                            <nop-required />
                        </div>
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="row form-group inputs">
                        <div class="col-md-2">
                            <label asp-for="NewPassword" asp-postfix=":"></label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="NewPassword" />
                        </div>
                        <div class="col-md-4">
                            <nop-required />
                        </div>
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="row form-group inputs">
                        <div class="col-md-2">
                            <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="ConfirmNewPassword" />
                        </div>
                        <div class="col-md-4">
                            <nop-required />
                        </div>
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button-1 change-password-button">@T("Account.ChangePassword.Button")</button>
            </div>
        </form>
    </div>
</div>